<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles/style.css" />
    <title>Matriculas</title>

    <script>
      $(function () {
        $("#navbar").load("../../login/styles/navbar/navbar.html");
      });
    </script>
  </head>
  <header>
    <div id="navbar"></div>
  </header>
  <body>
    <div class="container">
      <div class="row col-md-12">
        <table class="table table-striped custab">
          <thead>
            <a
              href="javascript:history.back()"
              class="btn btn-primary btn-md pull-left"
            >
              <span class="glyphicon glyphicon-circle-arrow-left"></span>
              Voltar</a
            >

            <a
              href="#"
              class="btn btn-primary btn-md pull-right"
              data-toggle="modal"
              data-target="#modalMatricula"
              ><b>+</b> Adicionar</a
            >
            <tr>
              <th>ID</th>
              <th>Nome Aluno</th>
              <th>Nome Responsável</th>
              <th class="text-center">Aprovado</th>
              <th class="text-center">Editar</th>
            </tr>
          </thead>
          <tr>
            <td>1</td>
            <td>Joãozinho da Silva</td>
            <td>Bruno da Silva</td>
            <td class="text-center">
              <i class="glyphicon glyphicon-ok-sign sucess-green"></i>
            </td>
            <td class="text-center">
              <a class="btn btn-info btn-xs" href="#"
                ><span class="glyphicon glyphicon-edit"></span> Editar</a
              >
              <a href="#" class="btn btn-warning btn-xs"
                ><span class="glyphicon glyphicon-repeat"></span> Revalidar</a
              >
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Lucas Fernando Souza</td>
            <td>Maria Souza</td>
            <td class="text-center">
              <i class="glyphicon glyphicon-remove-sign bad-red"></i>
            </td>
            <td class="text-center">
              <a class="btn btn-info btn-xs" href="#"
                ><span class="glyphicon glyphicon-edit"></span> Editar</a
              >
              <a href="#" class="btn btn-warning btn-xs"
                ><span class="glyphicon glyphicon-repeat"></span> Revalidar</a
              >
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Vinicius Mendez</td>
            <td>João Mendez</td>
            <td class="text-center">
              <i class="glyphicon glyphicon-ok-sign sucess-green"></i>
            </td>
            <td class="text-center">
              <a class="btn btn-info btn-xs" href="#"
                ><span class="glyphicon glyphicon-edit"></span> Editar</a
              >
              <a href="#" class="btn btn-warning btn-xs"
                ><span class="glyphicon glyphicon-repeat"></span> Revalidar</a
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- Modal matricula -->
    <div
      class="modal fade"
      id="modalMatricula"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Matricula</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="select-modal-name-creche">Creche</label>
                <select
                  id="select-modal-name-creche"
                  name="select-modal-name-creche"
                  class="form-control"
                  onchange="javascript:completaInputs()"
                >
                  <option value=" "></option>
                  <option value="Sonho de Infância">Sonho de Infância</option>
                  <option value="Estrela Cadente">Estrela Cadente</option>
                  <option value="Mundo da Criança">Mundo da Criança</option>
                </select>
              </div>
              <div class="form-group">
                <label for="text-modal-name-bairro">Bairro da creche</label>
                <input
                  id="text-modal-name-bairro"
                  name="text-modal-name-bairro"
                  type="text"
                  class="form-control"
                />
              </div>
              <div
                class="form-group"
                id="iframe-modal-map-creche"
                style="display: none"
              >
                <iframe
                  id="iframe-map-creche"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1511.0500759996653!2d-53.059229868386716!3d-25.74072106374234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f047ed3a750d9b%3A0xffbbaf0027f41000!2sCentro%20Norte%2C%20Dois%20Vizinhos%20-%20PR%2C%2085660-000!5e0!3m2!1spt-BR!2sbr!4v1655908211895!5m2!1spt-BR!2sbr"
                  width="540"
                  height="300"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
              <div class="form-group">
                <label for="select-modal-name-crianca">Criança</label>
                <select
                  id="select-modal-name-crianca"
                  name="select-modal-name-crianca"
                  class="form-control"
                  onchange="javascript:completaInputCrianca()"
                >
                  <option value=" "></option>
                  <option value="Joãozinho da Silva">Joãozinho da Silva</option>
                  <option value="Lucas Fernando Souza">
                    Lucas Fernando Souza
                  </option>
                  <option value="Vinicius Mendez">Vinicius Mendez</option>
                </select>
              </div>
              <div class="form-group">
                <label for="text-modal-name-responsavel"
                  >Nome do responsável</label
                >
                <input
                  id="text-modal-name-responsavel"
                  name="text-modal-name-responsavel"
                  type="text"
                  class="form-control"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/script.js"></script>
  </body>
</html>
